<ion-view view-title="{{friend.name}}">
    <ion-content>
        <div class="list card">
            <div class="item item-icon-left item-avatar">
                <img src="{{friend.picture}}">
                <h2>{{friend.name}}</h2>
                <p>
                    <i ng-class="{ assertive: friend.debt >= 0,  balanced: friend.debt < 0}"> $ {{friend.debt | number:2 }} </i> </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="incrementPopup()">
                    <i class="icon ion-plus-round"></i> Aumentar
                </a>
                <a class="tab-item" ng-click="decrementPopup()">
                    <i class="icon ion-minus-round"></i> Diminuir
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
