<ion-view view-title="Caloteiros">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
        </button>
    </ion-nav-buttons> 
    <ion-content class="has-header" direction="y" scrollbar-y="false"> 
        <ion-list>
            <ion-item ng-repeat="friend in friends track by $index" type="item-text-wrap" class="item-avatar" href="#/app/friend/{{friend.id}}" ng-click="clearSearch()">
                <img src="{{friend.picture}}" />
                <h2>{{friend.name}}</h2>
                <p> 
                    <i ng-class="{ assertive: friend.debt < 0,  balanced: friend.debt >= 0}">
                    $ {{ friend.debt | number:2 }} 
                    </i> 
                </p>
            </ion-item>
        </ion-list>

        <div ng-if="friends !== undefined && !friends.length" class="no-results">
          <p>Nenhum caloteiro!</p>
        </div>
    </ion-content>
</ion-view>
